.imagediv button img {
  width: 40vh;
  height: 50vh;
}
img {
  width: 8vh;
  height: 5vh;
}
.div1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 50vh;
}
.div1 .apt a {
  background-color: rgb(109, 155, 156);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 90px;
  height: 10vh;
  width: 10vh;
}

.div1 .apt {
  display: flex;
  justify-content: space-between;
  gap: 8vh;
}

.stname {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.div1 .stname p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.imagediv p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gender {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4,
.div5 {
  position: relative;
  display: flex;
  gap: 10vh;
  padding: 5vh;
}

.inner1 {
  position: relative;
  width: 14vh;
  height: 24px;
  bottom: 29px;
  left: 10px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(130, 166, 197);
}

.inner2 {
  position: relative;
  width: 14vh;
  bottom: 30px;
  height: 24px;
  left: 10px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(130, 166, 197);
}

.inner3 {
  position: relative;
  width: 14vh;
  bottom: 30px;
  height: 24px;
  left: 5px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(130, 166, 197)
}

.inner4 {
  position: relative;
  width: 14vh;
  bottom: 30px;
  height: 24px;
  left: 5px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(130, 166, 197);
}

.imagediv {
  background-color: rgb(214, 227, 227);
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
}


.div4 .b1 .viewbutton,
.div5 .b5 .viewbutton {
  position: absolute;
  width: 10vh;
  height: 4vh;
  bottom: 60px;
  left: 200px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(233, 151, 191);
}

.div4 .b2 .viewbutton,
.div5 .b6 .viewbutton {
  position: absolute;
  width: 10vh;
  height: 4vh;
  bottom: 60px;
  left: 515px;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(233, 151, 191);
}

.div4 .b3 .viewbutton,
.div5 .b7 .viewbutton {
  position: absolute;
  width: 10vh;
  height: 4vh;
  bottom: 60px;
  left: 142vh;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(233, 151, 191);
}

.div4 .b4 .viewbutton,
.div5 .b8 .viewbutton {
  position: absolute;
  width: 10vh;
  height: 4vh;
  bottom: 60px;
  left: 195vh;
  color: rgb(0, 0, 7);
  border-radius: 40px;
  background-color: rgb(233, 151, 191);
}